html {
  font-size: 14px;
  height: 100vh;
}

body {
  display: flex;
  background-color: #ffffe7;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #c7c7f7;
}

nav {
  background-color: #c7f7f7;
}

/*
 * 選擇 nav 下面的 ul 元素下的 *所有* li 元素
 */
nav > ul > li {
    display: inline-block;
    height: 2em;
    min-width: 4em;
    line-height: 2em;
    text-align: center;
    /* 上下 pading: 0; 左右 padding: 0.5 em; */
    padding: 0px .5em;
    /* 上下 pading: 0; 左右 padding: 0.25 em; */
    margin: 0px .25em;
    border: none;
    background-color: bisque;
}

/*
 * 當滑鼠游標移到 nav > ul > li 上時，更改 *背景顏色*
 */
nav > ul > li:hover {
    background-color: #dfdfdf;
}

nav > ul > li:hover [id*=drop_] {
    display: block;
}

aside {
  background-color: #f7c7c7;
}

section {
  background-color: #c7f7c7;
}

footer {
  background-color: #e7e7e7;
}

.flex-column {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 2px 2px;
}
.flex-row {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin: 2px 2px;
}
.no-flex-container {
  display: flex;
  flex: 0 0 auto;
  margin: 2px 2px;
}
.flex-container {
  display: flex;
  flex: 1 0 auto;
  margin: 2px 2px;
}
.content-left-container {
  display: flex;
  flex: 1 0 auto;
  justify-content: left;
  margin: 2px 2px;
}
.content-center-container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 2px 2px;
}
.message-center-container {
  display: flex;
  z-index: 1;
  flex: 1 0 auto;
  justify-content: center;
  margin: 2px 2px;
}
.text-container {
  display: flex;
  align-self: center;
  margin: 2px 2px;
}
.textarea-container {
  display: flex;
  align-self: center;
  margin: 2px 2px;
}
.input-text-container {
  display: flex;
  flex: 1 0 auto;
  align-self: center;
  margin: 2px 2px;
}
.message-text {
  color:blue;
  font-size:larger;
  margin: 2px 2px;
}
.input-text {
  width: 100%;
  margin: 2px 2px;
}
.title-text {
  color:blueviolet;
  font-size: larger;
}
.sub-title-text {
  color:darkcyan;
  font-size: small;
  font-style: oblique;
}
.body-text {
  color:coral;
  font-size: medium;
  font-style: italic;
}



/*
 * 下拉式 (drop-down) 功能表
 */
.drop-box {
    /* 預設不顯示; */
    display: none;
    /* 去除 ul.li 的項目標示; */
    list-style-type: none;
    /* 位置跟隨它的父元素; */
    position: absolute;
    background-color: #f9f9f9;
    padding: 0px;
    margin: 0px .25em;
}

/*
 * 下拉式功能表裡的 *li* (list item)
 * 選單項目屬性設定
 */
.drop-box ul li {
    min-width: 4em;
    text-align: center;
    padding: 0px .5em;
    margin: .25em 0px;
    border: none;
    background-color: bisque;
}

/*
 * 當滑鼠游標移至
 * 下拉式功能表裡的 *li* (list item)
 * 選單項目時，
 * 更改屬性設定
 */
.drop-box li:hover {
    color: DodgerBlue;
    background-color: Salmon;
}

#about {
    float: right;
    margin: 0px 2em 0px 0px;
}

/*
 * 當滑鼠游標移至 *關於* (about) 時，將
 * 對應的 drop_box 顯示出來
 */
#about:hover #drop_about {
    display: block;
}

.milky {
    background-color: #ffffea;
}
